.menubar_div {
    display: flex;
    align-items: center;
}

.menubar {
    display: none;
    cursor: pointer;
}

/*============= media queries ===================*/

@media (max-width: 700px) {
    .menubar {
        display: initial;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(50%, 50%);
        /*display: block;*/
    }
}