.header {
    padding: 10px 40px;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_side {
        display: flex;
}

/*============= media queries ===================*/

@media (max-width: 700px) {
    .header {
       padding-right: 15px;
    }
}